.product{
    width: 300px;
    height: 500px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
  
    position: relative;
}
.product img{
    width: 300px;
    height: 300px;
   
}
.product-name{
    font-size: 25px;
    font-weight: 600;
}
.btn-cart{
    width:100%;
    background: coral;
    border: none;
    border-radius:0px 0px 8px 8px ;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.btn-text{
    margin-right: 7px;
}